<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TeX2img.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TeX2img.Properties.Settings>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFromTextBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteTmpFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>677</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>449</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="preamble" serializeAs="String">
                <value>\documentclass[fleqn,papersize,dvipdfmx]{jsarticle}
\usepackage{amsmath,amssymb}
\usepackage{color}
\pagestyle{empty}
</value>
            </setting>
            <setting name="preambleWindowWidth" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="preambleWindowHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="outputWindowWidth" serializeAs="String">
                <value>466</value>
            </setting>
            <setting name="outputWindowHeight" serializeAs="String">
                <value>409</value>
            </setting>
            <setting name="transparentPngFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resolutionScale" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="topMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="leftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="platexPath" serializeAs="String">
                <value />
            </setting>
            <setting name="dvipdfmxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="gsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="showOutputWindowFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="previewFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settingTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useMagickFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreErrorFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yohakuUnitBP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encode" serializeAs="String">
                <value>_sjis</value>
            </setting>
            <setting name="editorFont" serializeAs="String">
                <value>ＭＳ ゴシック, 12pt</value>
            </setting>
            <setting name="editorNormalColorFont" serializeAs="String">
                <value>WindowText</value>
            </setting>
            <setting name="editorNormalColorBack" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="editorSelectedColorFont" serializeAs="String">
                <value>HighlightText</value>
            </setting>
            <setting name="editorSelectedColorBack" serializeAs="String">
                <value>Highlight</value>
            </setting>
            <setting name="editorCommandColorFont" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="editorCommandColorBack" serializeAs="String">
                <value>Window</value>
            </setting>
            <setting name="editorEquationColorFont" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="editorEquationColorBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="editorBracketColorFont" serializeAs="String">
                <value>Maroon</value>
            </setting>
            <setting name="editorBracketColorBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="editorCommentColorFont" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="editorCommentColorBack" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="editorEOFColorFont" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="editorMatchedBracketColorFont" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="editorMatchedBracketColorBack" serializeAs="String">
                <value>128, 255, 255</value>
            </setting>
            <setting name="gsDevice" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="useLowResolution" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guessLaTeXCompile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LaTeXCompileMaxNumber" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TeX2imgVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="embedTeXSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="outlinedText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteDisplaySize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editorDrawSpace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editorDrawTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editorDrawEOL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editorDrawEOF" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editorSpaceColorFont" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="editorTabWidth" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="setFileToClipBoard" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="editorDrawFullWidthSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="editorAcceptTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepPageSize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mergeOutputFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pagebox" serializeAs="String">
                <value>crop</value>
            </setting>
            <setting name="animationDelay" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="animationLoop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="workingDirectory" serializeAs="String">
                <value>tmp</value>
            </setting>
            <setting name="backgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
        </TeX2img.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
