<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TeX2img.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TeX2img.Properties.Settings>
            <setting name="outputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFile" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFromTextBox" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="deleteTmpFileFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>677</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>449</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="preamble" serializeAs="String">
                <value>\documentclass[fleqn]{jarticle}
\usepackage{amsmath,amssymb}
\usepackage{enumerate}
\pagestyle{empty}
</value>
            </setting>
            <setting name="preambleWindowWidth" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="preambleWindowHeight" serializeAs="String">
                <value>380</value>
            </setting>
            <setting name="outputWindowWidth" serializeAs="String">
                <value>466</value>
            </setting>
            <setting name="outputWindowHeight" serializeAs="String">
                <value>409</value>
            </setting>
            <setting name="transparentPngFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resolutionScale" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="topMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="leftMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rightMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bottomMargin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="platexPath" serializeAs="String">
                <value />
            </setting>
            <setting name="dvipdfmxPath" serializeAs="String">
                <value />
            </setting>
            <setting name="gsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="showOutputWindowFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="previewFlag" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="settingTabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="useMagickFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ignoreErrorFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="yohakuUnitBP" serializeAs="String">
                <value>False</value>
            </setting>
        </TeX2img.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
